@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
header{
    background: url("Nature.webp") no-repeat center center/cover;
    color: rgb(18, 11, 11);
    text-align: center;
    padding: 2rem;

}
header h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
header p{
    text-align: end;
    font-size: 1.2rem;
    color: #fff;
}
.nav-bar{
    background: #228b22;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}
.nav-bar a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}
.nav-bar a:hover{
    text-decoration: underline;
}
main{
    padding: 1rem;
}
.blog{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1.5rem;
}
.post-nature, .post-ocean, .post-mountain{
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.post-nature{
    background: green;
    color: whitesmoke;
    transition: .5s ease;
}
.post-nature:hover{
    background: #228b22;
    transform: scale(1.05);
}
.post-ocean{
    background: lightblue; 
    color: white;
    transition: .5s ease;
    
}
.post-ocean:hover{
    background: blue;
    transform: scale(1.05);
}
.post-mountain{
    background: darkgrey;
    color: white;
    transition: .5s ease;
}
.post-mountain:hover{
    background: darkgray;
    transform: scale(1.05);
}
.post h2{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #228b22;
}
.post p{
    margin-bottom: 1rem;
}

.post a{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: green;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}
.post a:hover{
    background: #1f6e1c;
}
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}